<div class="subscribe">
    <div class="container">
        <div class="row">
            <h1 class="text-center">Keep in touch</h1>
            <div class="col-md-10 col-md-offset-1">

                <div class="co-md-4 subscribe-name">
                    <form action="">
                        <input id="name" placeholder="Name" type="text"/>
                    </form>
                </div>
                <div class="co-md-4 subscribe-email">
                    <form action="">
                        <input id="email" placeholder="Email" type="email"/>
                    </form>
                </div>
                <div class="co-md-4 subscribe-submit">
                    <form action="">
                        <input id="submit" type="submit"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>