@mixin carmel-heading ($font-name: 'Josefin Sans', $color: #FFFFFF) {
  h1 {
    text-shadow: 0px 1px black;
    font-family: $font-name,sans-serif;
    font-weight: 900;
    @include carmel-text-size (2.5, 2.8);
    color: $color;

    @include carmel-device-tablet {
      @include carmel-text-size (2.5, 3.2);
    }

    @include carmel-device-desktop {
      @include carmel-text-size (2.2, 3.0);
    }
  }

   h2 {
    text-shadow: 0px 1px darkgrey;
    font-family: $font-name;
    color:$color;
    font-weight: 400;
    @include carmel-text-size (1.5, 2.0);
    margin-top: 1.0rem;

    @include carmel-device-tablet {
      @include carmel-text-size (1.8, 2.2);
    }

    @include carmel-device-desktop {
      @include carmel-text-size (1.2, 2.0);
    }
  }
}

@mixin h1 ($color:#000,$size:1.5,$line:2.0,$weight:900,$font-name: 'Josefin Sans') {
  color:$color;
  font-weight: $weight;
  font-family: $font-name;
  @include carmel-text-size ($size, $line);
  text-align: center;
}
