<div id="features" class="features">
    <div class="container">

        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <h1> $carmel.text(features-title)</h1>
            </div>
        </div>

        <div class="row details">
            <div class="col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-0">
                <img src="$carmel.image(first-feature)"/>
                <h2>$carmel.text(first-feature-title)</h2>
                <p>
                    $carmel.text(first-feature-body)
                </p>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-0">
              <img src="$carmel.image(second-feature)"/>
                <h2>$carmel.text(second-feature-title)</h2>
                <p>
                    $carmel.text(second-feature-body)
                </p>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-0">
              <img src="$carmel.image(third-feature)"/>
                <h2>$carmel.text(third-feature-title)</h2>
                <p>
                    $carmel.text(third-feature-body)
                </p>
            </div>
        </div>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-4">
            <div class="features-btn">
              <a href="#" class="btn">Learn More About Our Programs</a>
            </div>
            <div class="features-link">
              <a href="#">Help Us Keep These Programs Running</a>
            </div>
          </div>
        </div>

    </div>
</div>
