
<div id="subscribe" class="subscribe">
    <div class="container">
        <div class="row">
          <h1 class="text-center">$carmel.text(subscribe-title)</h1>
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-0 col-lg-10 col-lg-offset-1">

                <div class="col-xs-12 col-sm-10 col-md-10 col-lg-4 subscribe-name">
                    <form action="">
                        <input id="name" placeholder="Name" type="text"/>
                    </form>
                </div>
                <div class="col-xs-12 col-sm-10 col-md-10 col-lg-4 subscribe-email">
                    <form action="">
                        <input id="email" placeholder="Email" type="email"/>
                    </form>
                </div>
                <div class="col-xs-12 col-sm-10 col-md-10 col-lg-3 subscribe-submit">
                    <form action="">
                        <input id="submit" type="submit"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
