
    <div class="container">
        <div class="row">
          <h1 class="text-center">$carmel.text(title, maxChars)</h1>
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-0 col-lg-10 col-lg-offset-1">

                <div class="col-xs-12 col-sm-10 col-md-10 col-lg-3 subscribe-name">
                    <form action="">
                        <input id="name" placeholder="Your Name" type="text"/>
                    </form>
                </div>
                <div class="col-xs-12 col-sm-10 col-md-10 col-lg-3  subscribe-email">
                    <form action="">
                        <input id="email" placeholder="Your Email Address" type="email"/>
                    </form>
                </div>
                <div class="col-xs-12 col-sm-10 col-md-10 col-lg-6 subscribe-submit">
                    <form action="">
                        <input id="submit" type="button" value="Subscribe Now"/>
                    </form>
                </div>
                <div class="subscribe-info col-xs-12 col-sm-10 col-md-10 col-lg-10">
                  <p>It's free and we absolutely guarantee and respect your privacy.</p>
                </div>
            </div>
        </div>
    </div>
