
    <div class="container">
        <div class="row">
          <h2 class="text-center">$carmel.text(title, maxChars)</h2>
          <form>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
              <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Your Name">
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
              <div class="form-group">
                <input type="email" class="form-control input-lg input-block" id="exampleInputEmail1" placeholder="Your Email Address">
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
              <a href="#" class="btn-action primary">Subscribe</a>
          </div>
          <p class="text-center">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit
          </p>
        </form>
      </div>
    </div>
