
  padding:60px 0;
  background-color: $bg;
  font-family: 'Josefin Sans',sans-serif;

  .row{
    text-align: center;
  }

  h1{
    color: $text-color;
    font-size: 3.0rem;
    margin-bottom: 2.0rem;

  }

  .subscribe-name {
    margin: 10px 0;
    input[type="text"] {
      border:none;
      border:1px solid $input-border;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px;
      padding:0.3rem;
      height: 48px;
      width:250px;
      font-size:2.0rem;
      font-weight: 300;
    }
  }

 .subscribe-email {
   margin: 10px 0;

   input[type="email"] {
     border:none;
     border:1px solid $input-border;
     -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
     -o-border-radius: 4px;
     border-radius: 4px;
     padding:0.3rem;
     height: 48px;
     width:250px;
     font-size:2.0rem;
     font-weight: 300;
   }
 }

  .subscribe-submit {
    margin: 10px 0;
    input[type="button"] {
      border:none;
      padding:0.5rem;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px;
      height: 48px;
      width:250px;
      font-size:1.8rem;
      background-color: $submit-bg;
      color:$text-color;
    }
  }
    .subscribe-info {
      p {
        color:$text-color;
        font-weight: 300;

      }
    }


@media (min-width:480px) {

    display: flex;

    .subscribe-name {
      float: left;

      input[type="text"] {
        padding:0.3rem;
        height: 48px;
        width:300px;
        font-size:1.0rem;
        font-weight: 300;
      }
    }

    .subscribe-email {
      float: left;

      input[type="email"] {
        padding:0.3rem;
        height: 48px;
        width:300px;
        font-size:1.0rem;
        font-weight: 300;
      }
    }

    .subscribe-submit {

      input[type="button"] {
        padding:0.5rem;
        height: 48px;
        width:250px;
        font-size:0.9rem;
      }
    }

}

@media (min-width:768px) {

    display: flex;
    text-align: center;

    .row{
      text-align: center;
    }

    .subscribe-name {

      input[type="text"] {
        padding:0.3rem;
        height: 48px;
        width:560px;
        font-size:1.0rem;
        font-weight: 300;
      }
    }

    .subscribe-email {

      input[type="email"] {
        padding:0.3rem;
        height: 48px;
        width:560px;
        font-size:1.0rem;
        font-weight: 300;
      }
    }

    .subscribe-submit {
      input[type="button"] {
        padding:0.5rem;
        height: 48px;
        width:560px;
        font-size:0.9rem;
      }
    }

}

@media (min-width:992px) {

    display: flex;
    text-align: center;

    .row{
      text-align: center;
    }

    .subscribe-name {

      input[type="text"] {
        padding:0.3rem;
        height: 48px;
        width:900px;
        font-size:1.0rem;
        font-weight: 300;
      }
    }

    .subscribe-email {

      input[type="email"] {
        padding:0.3rem;
        height: 48px;
        width:900px;
        font-size:1.0rem;
        font-weight: 300;
      }
    }

    .subscribe-submit {
      input[type="button"] {
        padding:0.5rem;
        height: 48px;
        width:900px;
        font-size:0.9rem;
      }
    }

}

@media (min-width:1200px) {

    display: flex;
    text-align: center;

    .row{
      text-align: center;
    }
    h1{
      font-size: 2.0rem;
      margin-bottom: 2.0rem;
    }

    .subscribe-name {

      input[type="text"] {
        padding:0.3rem;
        height: 48px;
        width:250px;
        font-size:0.8rem;
        font-weight: 300;
      }
    }

    .subscribe-email {
      padding-left: 40px;
      input[type="email"] {
        padding:0.3rem;
        height: 48px;
        width:250px;
        font-size:0.8rem;
        font-weight: 300;
      }
    }

    .subscribe-submit {

      input[type="button"] {
        padding:0.5rem;
        height: 48px;
        width:340px;
        font-size:0.9rem;
      }
    }



}
