
  padding:60px 0;
  background-color: $bg;
  font-family: 'Josefin Sans',sans-serif;

  .row{
    text-align: center;
  }

  h1{
    color: $text-color;
    font-size: 3.0rem;
    margin-bottom: 2.0rem;

  }

  .subscribe-name {
    margin: 10px 0;
    input[type="text"] {
      @include input(#000,#ccc,0,100%);
  }
}

 .subscribe-email {
   margin: 10px 0;

   input[type="email"] {
    @include input(#000,#ccc,0,100%);
   }
 }

  .subscribe-submit {
    margin: 10px 0;
    @include carmel-button($submit-bg,#D9B00E,#eee,0,$submit-bg,100%,1.5rem,1.5rem,1.2,0);
  }

    .subscribe-info {
      p {
        color:$text-color;
        font-weight: 300;

      }
    }


@media (min-width:480px) {

    display: flex;

  .subscribe-submit {
    @include carmel-button($submit-bg,#D9B00E,#eee,0,$submit-bg,100%,0,0,1.2,2.0);
  }
}

@media (min-width:768px) {

    display: flex;
    text-align: center;

    .row{
      text-align: center;
    }

}

@media (min-width:992px) {

    display: flex;
    text-align: center;

    .row{
      text-align: center;
    }

}

@media (min-width:1200px) {

    display: flex;
    text-align: center;

    .row{
      text-align: center;
    }
    h1{
      font-size: 2.0rem;
      margin-bottom: 2.0rem;
    }
}
