  <div class="container">
    <div class="row pre-footer">

      <!--
      <div class="col-xs-12 col-md-6 col-lg-6 ">
        <div class="col-xs-12 col-md-12 col-lg-10">
          <h2>$carmel.text(contactTitle)</h2>
        </div>
        <div class="col-xs-12 col-md-10 col-lg-10">
          <input type="text" name="carmel-input" value="" placeholder="$carmel.text(contactNamePlaceholder)">
        </div>
        <div class="col-xs-12 col-md-10 col-lg-10">
            <input type="email" name="carmel-input" value="" placeholder="$carmel.text(contactEmailPlaceholder)">
        </div>
        <div class="col-xs-12 col-md-10 col-lg-10">
        <textarea>$carmel.text(contactMessagePlaceHolder)</textarea>
        </div>
        <div class="col-xs-12 col-md-10 col-lg-10 footer-button">
            <a href="#" class="btn">$carmel.text(contactButtonTitle)</a>
        </div>
      </div>
      -->

      <div class="col-xs-12 col-md-6 col-lg-6">
        <h2>$carmel.text(title)</h2>
        <p>$carmel.text(body)</p>
        <a href="#" class="btn-action primary">$carmel.text(actionTitle)</a>
      </div>

      <div class="col-xs-12 col-md-6 col-lg-6">
        <h2>$carmel.text(aboutTitle)</h2>
        <p>$carmel.text(aboutBody)</p>
      </div>

    </div>

  </div>
  <div class="bottom-footer">
    <div class="container">
      <div class="row">
      <p class="pull-left">
        $carmel.text(copyright)
      </p>
      <p class="pull-right">
        This site lives on <a href="http://carmel.io">carmel</a>
      </p>
      </div>
    </div>
  </div>
