  <div class="container">
    <div class="row pre-footer">
      <div class="col-xs-12 col-md-6 col-lg-6 ">
        <div class="col-xs-12 col-md-12 col-lg-10">
          <h1>$carmel.text(contactTitle, contactTitleMaxChars)</h1>
        </div>
        <div class="col-xs-12 col-md-10 col-lg-10">
          <input type="text" name="carmel-input" value="" placeholder="$carmel.text(contactNamePlaceholder, contactNamePlaceHolderMaxChars)">
        </div>
        <div class="col-xs-12 col-md-10 col-lg-10">
            <input type="email" name="carmel-input" value="" placeholder="$carmel.text(contactEmailPlaceholder, contactEmailPlaceHolderMaxChars)">
        </div>
        <div class="col-xs-12 col-md-10 col-lg-10">
        <textarea>$carmel.text(contactMessagePlaceHolder, contactMessagePlaceHolderMaxChars)</textarea>
        </div>
        <div class="col-xs-12 col-md-10 col-lg-10 footer-button">
            <a href="#" class="btn">$carmel.text(contactButtonTitle, contactButtonTitleMaxChars)</a>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-6 sponsor">
        <div class="col-xs-12 col-md-10 col-lg-10">
          <h1>$carmel.text(title, titleMaxChars)</h1>
        </div>
        <div class="col-xs-12 col-md-10 col-lg-8 col-lg-offset-1">
          <p>$carmel.text(body, bodyMaxChars)</p>
        </div>
        <div class="col-xs-12 col-md-10 col-lg-10 footer-button support">
            <a href="#" class="btn">$carmel.text(actionTitle, actionTitleMaxChars)</a>
        </div>
      </div>
    </div>

  </div>
  <div class="bottom-footer">
    <div class="container">
      <div class="row">
      <span class="left">
        Copyright 2015 Life Nation, Romania.
      </span>
      <span class="right">
        This site lives on <a href="#">carmel</a>
      </span>
      </div>
    </div>
  </div>
