
  padding-top: 2.0rem;
  margin-bottom: 0;
  color: #ffffff;
  background-color:#34495E;

.pre-footer{
  text-align: center;
}

h1{
  @include h1 (#fff,1.2);
}

input[name="carmel-input"] {
  @include input(#000,#ccc,4px,250px);
  margin-bottom: 10px;
}

textarea {
  @include input(#000,#ccc,4px,250px,200px);
  resize: none;
}

.footer-button {
  @include carmel-button(#f1c40f,#fff,#f1c40f,250px,0rem,0rem);
  margin-top: 5px;
}

.support {
  margin-top: 50px;
}

.sponsor {
  margin-top: 30px;
}

.sponsor p {
  text-align: justify;
  width: 250px;
}

.bottom-footer {
  background-color:  #2c3e50;
  width: 100%;
  margin-top: 100px;

  span {
    display: block;
    text-align: center;
  }
}

.social {
  text-align: center;
}

@media (min-height: 665px) and (max-width:480px) {
  input[name="carmel-input"] {
  @include input(#000,#ccc,4px,300px);
  margin-bottom: 10px;
}

  textarea {
    @include input(#000,#ccc,4px,300px,200px);
    resize: none;
  }

  .footer-button {
    @include carmel-button(#f1c40f,#fff,#f1c40f,300px,0rem,0rem);
    margin-top: 5px;
  }

  .sponsor {
    margin-top: 20px;
  }

  .sponsor p {
    width: 300px;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 1.8rem;
  }


}

@media (min-width: 768px) {

  padding-top: 3.0rem;
  input[name="carmel-input"] {
  @include input(#000,#ccc,4px,350px);
  margin-bottom: 10px;
}

  textarea {
    @include input(#000,#ccc,4px,350px,200px);
    resize: none;
  }

  .footer-button {
    @include carmel-button(#f1c40f,#fff,#f1c40f,350px,0rem,0rem);
    margin-top: 5px;
  }

  .sponsor {
    margin-top: 0;
  }

  .sponsor p {
    width: 345px;
    margin-top: 10px;
    line-height: 1.2rem;
  }

  .support {
    margin-top: 50px;
  }

  .bottom-footer {
    span {
      display: inline;
      padding: 20px;
    }

    .left {
        float: left;
    }

    .right {
      float: right;
    }
  }
}

@media (min-width: 1200px) {
  .bottom-footer {
    span {
      display: inline;
      padding: 20px;
    }

    .left {
        float: left;
    }

    .right {
      float: right;
    }
  }
}
