@include carmel-base ($carmel-color-container, $height,5,0);

.bottom-bar {
  @include carmel-base(darken($carmel-color-container, 5%),0,1,1);
  color: $carmel-color-white;
  margin-top: 100px;
  text-align:center;

.carmel-link-left {
  	float:none;
  	display:block;
  }

  .carmel-link-right {
  	float:none;
  	display:block;
  }

  @media screen and ( min-width:765px ) {

 .carmel-link-left {
  	float:left;
  }

  .carmel-link-right {
  	float:right;
  }

  }
}
