@mixin carmel-text-readability ($background, $color){
  background: $background;
  color:      $carmel-color-gray-0;

  @if (lightness($background) > 70) {
    color: $color;
  }
}

@mixin carmel-base ($background: $carmel-color-gray-0, $height:50px,$top:5,$bottom:5) {

  min-height:         $height;
  width:              100%;
  padding-top:        #{$top}rem;
  padding-bottom:     #{$bottom}rem;
  margin:             0;
  text-align:         center;
  background:         $background;

  h1, h2, p {
    @include carmel-text-readability ($background, $carmel-color-text);
  }

  .link-action {
    @include carmel-text-readability ($background, $carmel-color-link);
  }

}
