@mixin carmel-base() {
  width:              100%;
  min-height:         50px;
  padding-top:        4rem;
  padding-bottom:     4rem;
  margin:             0;
  text-align:         center;
  color:              #ffffff;
}
