// Gray
$carmel-gray-0:               #ffffff;
$carmel-gray-1:               #ecf0f1;
$carmel-gray-2:               #cccccc;
$carmel-gray-3:               #bdc3c7;
$carmel-gray-4:               #a7a7a7;
$carmel-gray-5:               #95a5a6;
$carmel-gray-6:               #7f8c8d;
$carmel-gray-7:               #34495e;
$carmel-gray-8:               #2c3e50;
$carmel-gray-9:               #000000;

// Yellows and Oranges
$carmel-orange-0:             #f1c40f;
$carmel-orange-1:             #f39c12;
$carmel-orange-2:             #e67e22;
$carmel-orange-3:             #d35400;

// Greens
$carmel-green-0:              #2ecc71;
$carmel-green-1:              #27ae60;
$carmel-green-2:              #1abc9c;
$carmel-green-3:              #16a085;

// Blues
$carmel-blue-0:               #3699db;
$carmel-blue-1:               #2c8ac8;
$carmel-blue-2:               #2980B9;

// Reds
$carmel-red-0:                #e74c3c;
$carmel-red-1:                #c0392b;

// Purples
$carmel-purple-0:             #9b59b6;
$carmel-purple-1:             #8e44ad;
