// Gray
$carmel-color-gray-0:               #ffffff;
$carmel-color-gray-1:               #ecf0f1;
$carmel-color-gray-2:               #cccccc;
$carmel-color-gray-3:               #bdc3c7;
$carmel-color-gray-4:               #a7a7a7;
$carmel-color-gray-5:               #95a5a6;
$carmel-color-gray-6:               #7f8c8d;
$carmel-color-gray-7:               #34495e;
$carmel-color-gray-8:               #2c3e50;
$carmel-color-gray-9:               #000000;

// Yellow
$carmel-color-yellow-0:             #fcf8c4;
$carmel-color-yellow-1:             #fbf6b1;
$carmel-color-yellow-2:             #faf399;
$carmel-color-yellow-3:             #f9f081;
$carmel-color-yellow-4:             #f8ed69;
$carmel-color-yellow-5:             #f7ea51;
$carmel-color-yellow-6:             #f6e739;

// Oranges
$carmel-color-orange-0:             #ffe780;
$carmel-color-orange-1:             #ffde4d;
$carmel-color-orange-2:             #ffde4d;
$carmel-color-orange-3:             #f2784b;
$carmel-color-orange-4:             #e67e22;
$carmel-color-orange-5:             #d35400;

// Greens
$carmel-color-green-0:              #2ecc71;
$carmel-color-green-1:              #27ae60;
$carmel-color-green-2:              #1abc9c;
$carmel-color-green-3:              #16a085;

// Blues
$carmel-color-blue-0:               #c5eff7;
$carmel-color-blue-1:               #3699db;
$carmel-color-blue-2:               #2c8ac8;
$carmel-color-blue-3:               #2980B9;

// Reds
$carmel-color-red-0:                #e74c3c;
$carmel-color-red-1:                #ef4836;
$carmel-color-red-2:                #c0392b;
$carmel-color-red-3:                #b3002d;
$carmel-color-red-4:                #cd0033;
$carmel-color-red-5:                #b4002d;
$carmel-color-red-6:                #9b0027;
$carmel-color-red-7:                #820021;
$carmel-color-red-8:                #69001b;
$carmel-color-red-9:                #500014;

// Purples
$carmel-color-purple-0:             #9b59b6;
$carmel-color-purple-1:             #8e44ad;
