//== Buttons
//
//## Default value for button attributes

$btn-primary-bg:                 $carmel-color-action-primary;
$btn-success-bg:                 $carmel-color-action-secondary;
$btn-border-radius-base:         0;
$btn-border-radius-large:        0;
$btn-border-radius-small:        0;
