// Monos
$carmel-include-mono-ubuntu:      'Ubuntu+Mono:400,700&subset=latin,latin-ext';
$carmel-include-mono-source:      'Source+Code+Pro:400,700&subset=latin,latin-ext';
$carmel-include-mono-cousine:     'Cousine:400,700&subset=latin,latin-ext';
$carmel-mono-ubuntu:              'Ubuntu Mono';
$carmel-mono-source:              'Source Code Pro';
$carmel-mono-cousine:             'Cousine';

// Sans Serifs
$carmel-include-sans-open:        'Open+Sans:300italic,400italic,700italic,300,400,700&subset=latin,latin-ext';
$carmel-include-sans-roboto:      'Roboto:300italic,400italic,700italic,300,400,700&subset=latin,latin-ext';
$carmel-include-sans-ubuntu:      'Ubuntu:300italic,400italic,700italic,300,400,700&subset=latin,latin-ext';
$carmel-include-sans-noto:        'Noto+Sans:300italic,400italic,700italic,300,400,700&subset=latin,latin-ext';
$carmel-include-sans-fira:        'Fira+Sans:300italic,400italic,700italic,300,400,700&subset=latin,latin-ext';
$carmel-include-sans-alegreya:    'Alegreya+Sans:300italic,400italic,700italic,300,400,700&subset=latin,latin-ext';
$carmel-sans-open:                'Open Sans';
$carmel-sans-noto:                'Noto Sans';
$carmel-sans-roboto:              'Roboto';
$carmel-sans-ubuntu:              'Ubuntu';
$carmel-sans-fira:                'Fira Sans';
$carmel-sans-alegreya:            'Alegreya Sans';

// Cursives
$carmel-include-cursive-comfortaa:'Comfortaa:300,400,700&subset=latin,latin-ext';
$carmel-include-cursive-kaushan:  'Kaushan+Script&subset=latin,latin-ext';
$carmel-cursive-comfortaa:        'Comfortaa';
$carmel-cursive-kaushan:          'Kaushan Script';
