h1 {
  font-family:  $carmel-font-sans, sans-serif;
  font-weight:  700;
  font-size:    3rem;
  line-height:  3.5rem;
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-family:  $carmel-font-sans, sans-serif;
  font-weight:  300;
  font-size:    2rem;
  line-height:  2.5rem;
  -webkit-font-smoothing: antialiased;
}
