%carmel-color-dark {
  color: #333333;
  text-shadow: none;
}

h1 {
  font-family:  'dddddddd', sans-serif;
  font-weight:  400;
  font-size:    3rem;
  line-height:  3.5rem;
  color:        #333333;
  text-shadow:  none;
}
