<div id="hero" class="hero">
  <div class="container" id="hero-container">

    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 welcome">
        <h1>$carmel.text(hero-title)</h1>
        <h2>$carmel.text(hero-subtitle)</h2>
      </div>
    </div>

    <div class="row actions">
      <div class="col-xs-10 col-xs-offset-1 action-primary col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
        <a href="$carmel.link(primary-link)" class="btn">$carmel.text(hero-action-title)</a>
      </div>

      <div class="col-xs-10 col-xs-offset-1 more-info col-md-4 col-md-offset-4">
        <a href="" id="hero-details" class=""><i class="fa fa-angle-down"></i></a>
      </div>
    </div>

  </div>
</div>
