  <div class="container" id="hero-container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 heading">
        <h1>$carmel.text(title, titleMaxChars)</h1>
        <h2>$carmel.text(subtitle, subtitleMaxChars)</h2>
      </div>
    </div>
    <div class="row actions">
      <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
        <a href="$carmel.action(primary)" class="btn">$carmel.text(actionTitle, actionButtonTitleMaxChars)</a>
      </div>

      <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">
        <a href="" id="hero-details" class=""><i class="fa fa-angle-down"></i></a>
      </div>
    </div>
  </div>
