  //background-image: url("/img/cover-sm.png");
  background-color: $background-color;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:$height;

.heading {
  margin-top: 7.0rem;
  text-align: center;
  padding: 2.0rem 0;
  -webkit-font-smoothing: antialiased;
}

@include carmel-heading (
  $main-font-name,
  $heading-text-color
);

.actions {
  margin-top:0;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-family: $second-font-family;
  font-weight: 400;
}
.action-primary {
    margin-top: 1.0rem;
@include carmel-button (
  $main-button-background-color,#D9B00E,
  $main-button-text-color
);

}

.more-info {
  padding:1.0rem 0;
  font-size: 2.0rem;

  a{
    color:$arrow-down-color;

    .fa-angle-down {
      font-size: 2.0rem;
    }
    &:focus {
      color:$arrow-down-color;
    }
  }
}


@media (min-height: 550px) and (max-width:480px) {
    .heading {
    margin-top: 7.5rem;
  }

    .actions {
    padding:3.0rem 0;
  }
  .more-info {
    padding:5.0rem 0;
    font-size: 2.0rem;

    a{
      color:$arrow-down-color;

      .fa-angle-down {
        font-size: 2.0rem;

      }
      &:focus {
        color:$arrow-down-color;
      }
    }
  }

}

@media (min-width: 480px) {
    .heading {
    margin-top: 5.0rem;
  }

    .actions {
    margin-top: 2.5rem;
  }

    .action-primary {
    margin-top: 0.5rem;
  }
}

@media (min-width: 768px) {

    .heading {
    margin-top: 4.0rem;
  }


    .actions {
    margin-top: 1.0rem;
  }

    .action-primary {
    margin-top: 0.5rem;
  }
}

@media (min-width: 992px) {


    .heading {
    margin-top: 2.0rem;
  }


    .actions {
    margin-top: 0.5rem ;
  }
}

@media (min-width: 1200px) {


    .heading {
    margin-top: 4.0rem;
  }

    .actions {
    margin-top: 0.5rem;
  }
}
