.hero {
  background-image: url("/img/cover-sm.png");
  background-color: $hero-background-color;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:550px;
}

.hero .welcome {
  margin-top: 2.0rem;
  text-align: center;
  padding: 2.0rem 0;
  -webkit-font-smoothing: antialiased;
  color: $hero-welcome-text-color;
}

.hero h1 {
  text-shadow: 0px 1px #4a4a4a;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 900;
  font-size: 2.2rem;
  line-height: 2.8rem;
}

.hero h2 {
  text-shadow: 0px 1px #4a4a4a;
  font-family: 'Railway', sans-serif;
  font-weight: 400;
  font-size: 2.0rem;
  line-height: 2.2rem;
  margin-top: 1.0rem;
}

.hero .actions {
  margin-top: 2.0rem;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-family: 'Railway', sans-serif;
  font-weight: 400;
}

.hero .action-primary {
  margin-top: 1.0rem;
}

.hero .action-primary .btn {
  background-color: $hero-main-button-background-color;
  color: $hero-main-button-text-color;
  border: 1px solid #ffffff;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 2.0rem;
  line-height: 3.0rem;
  text-shadow: 0px 1px #4a4a4a;
}

.hero .action-secondary {
  margin-top: 1.0rem;
}

.more-info {
  padding:1.0rem 0;
  font-size: 2.0rem;

  a{
    color:#fff;

    .fa-angle-down {
      font-size: 2.0rem;
    }
    &:focus {
      color:#fff;
    }
  }
}

.hero .action-secondary .btn {
  color: #999999;
  background-color: #FFFFFF;
  border: 1px solid #ffffff;
  width: 100%;
  font-size: 1.4rem;
  line-height: 3.0rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

@media (min-width: 480px) {

  .hero {
    background-image: url("/img/cover-sm.png");
  }

  .hero .welcome {
    margin-top: 5.0rem;
  }

  .hero h1 {
    font-size: 1.8rem;
    line-height: 2.0rem;
  }

  .hero h2 {
    font-size: 1.6rem;
    line-height: 1.8rem;
    margin-top: 0.5rem;
  }

  .hero .actions {
    margin-top: 2.5rem;
  }

  .hero .action-primary {
    margin-top: 0.5rem;
  }

  .hero .action-primary .btn {
    font-size: 1.8rem;
    line-height: 2.0rem;
    border: 2px solid #ffffff;
  }

  .hero .action-secondary {
    margin-top: 0.5rem;
  }

  .hero .action-secondary .btn {
    font-size: 1.6rem;
    line-height: 2.0rem;
  }
}

@media (min-width: 768px) {

  .hero {
    background-image: url("/img/cover-md.png");
  }

  .hero .welcome {
    margin-top: 10.0rem;
  }

  .hero h1 {
    font-size: 3.6rem;
    line-height: 3.8rem;
  }

  .hero h2 {
    font-size: 3.0rem;
    line-height: 3.4rem;
    margin-top: 3.0rem;
  }

  .hero .actions {
    margin-top: 3.0rem;
  }

  .hero .action-primary {
    margin-top: 2.0rem;
  }

  .hero .action-primary .btn {
    font-size: 2.8rem;
    line-height: 4.0rem;
    border: 2px solid #ffffff;
  }

  .hero .action-secondary {
    margin-top: 1.0rem;
  }

  .hero .action-secondary .btn {
    font-size: 2.2rem;
    line-height: 4.0rem;
  }
}

@media (min-width: 992px) {

  .hero {
  }

  .hero .welcome {
    margin-top: 5.0rem;
  }

  .hero h1 {
    font-size: 3.2rem;
    line-height: 3.6rem;
  }

  .hero h2 {
    font-size: 2.4rem;
    line-height: 3.0rem;
    margin-top: 2.0rem;
  }

  .hero .actions {
    margin-top: 3.0rem;
  }

  .hero .action-primary {
    margin-top: 1.0rem;
  }

  .hero .action-primary .btn {
    font-size: 2.4rem;
    line-height: 3.0rem;
    border: 2px solid #ffffff;
  }

  .hero .action-secondary {
    margin-top: 1.0rem;
  }

  .hero .action-secondary .btn {
    font-size: 1.8rem;
    line-height: 3.0rem;
  }
}

@media (min-width: 1200px) {
  .hero {
    background-image: url("/img/cover-lg.png");
  }

  .hero .welcome {
    margin-top: 4.0rem;
  }

  .hero h1 {
    font-size: 2.2rem;
    line-height: 3.0rem;
  }

  .hero h2 {
    font-size: 1.6rem;
    line-height: 2.0rem;
    margin-top: 0.8rem;
  }

  .hero .actions {
    margin-top: 0.5rem;
  }

  .hero .action-primary {
    margin-top: 1.0rem;
  }

  .hero .action-primary .btn {
    font-size: 1.6rem;
    line-height: 2.0rem;
    border: 2px solid #ffffff;
  }

  .hero .action-secondary {
    margin-top: 1.0rem;
  }

  .hero .action-secondary .btn {
    font-size: 1.4rem;
    line-height: 2.0rem;
  }
}
