.container-fluid {
  height: $height;
  font-weight: $font-weight;
  background:  $carmel-color-container;
  font-size: $font-size;
  width: 100%;
  color: $item-color;

  ul {
    list-style-type: none;
    float: right;

    li {
      display: inline-block;
      position: relative;
      padding-top: 3rem;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);

      a {
        color: darken($item-color, 35%);
        text-decoration: none;
      }
    }
  }
}
