  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <h1>$carmel.text(title, maxChars)</h1>
        <p>
          $carmel.text(body, maxChars)
        </p>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
        <div class="summary-btn">
          <a href="#" class="btn">Learn More About Our Mission</a>
          <div class="summary-link">
            <a href="#">See How You Can Help Us Achieve It</a>
          </div>
        </div>
      </div>
    </div>
  </div>
