.vision {
  padding: 5rem 0;
  font-family: 'Josefin Sans', sans-serif;
  color: $vision-color;
  text-align: justify;

  h1 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
    hyphens: auto;
  }

  p {
    font-size: 1.2rem;
    line-height:1.6rem;
    font-weight:300;
  }
}

@media (min-width: 1200px) {

  .vision {
    padding: 5rem 0;
    font-family: 'Josefin Sans', sans-serif;
    color: $vision-color;
    text-align: justify;

    h1 {
      font-weight: 700;
      font-size: 2rem;
      line-height: 2rem;
      hyphens: auto;
    }

    p {
      font-size: 0.9rem;
      line-height:1.6rem;
      font-weight:300;
    }
  }
}.summary {
  padding: 3rem 0;
  font-family: 'Josefin Sans', sans-serif;
  color: #4a4a4a;
  text-align: justify;


  h1 {
    font-weight: 700;
    font-size: 1.7rem;
    line-height: 3rem;
    text-align:center;
  }

  p {
    font-size: 1.3rem;
    line-height:1.4rem;
    font-weight:300;
  }.vision {
  padding: 5rem 0;
  font-family: 'Josefin Sans', sans-serif;
  color: $vision-color;
  text-align: justify;

  h1 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
    hyphens: auto;
  }

  p {
    font-size: 1.2rem;
    line-height:1.6rem;
    font-weight:300;
  }
}

@media (min-width: 1200px) {

  .vision {
    padding: 5rem 0;
    font-family: 'Josefin Sans', sans-serif;
    color: $vision-color;
    text-align: justify;

    h1 {
      font-weight: 700;
      font-size: 2rem;
      line-height: 2rem;
      hyphens: auto;
    }

    p {
      font-size: 0.9rem;
      line-height:1.6rem;
      font-weight:300;
    }
  }
}
}
