$carmel-global-tablet-width:      768px;
$carmel-global-desktop-width:     1024px;
$carmel-global-button-bg-color:   #f39c12;
$carmel-global-button-text-color: #fff;

//
// $navbar-default-color:             #777;
