<div class="heading hero-image" style="background-image: url('((article.meta.image))')">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 title" ng-show="article.meta">
        <h1>{{article.title}}</h1>
          <p class="text-center">{{article.date}}</p>
      </div>
    </div>
  </div>
</div>

<div id="article" class="article">
  <div class="container">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
          <div ng-bind-html="article.body" ng-model="article.id" ng-init="article.id={{article.id}}">
                {{{article.body}}}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
            <div class="fb-comments" data-numposts="5" data-width="100%"></div>
      </div>
    </div>
  </div>
</div>
