<div class="heading" style="background-image: url('((article.meta.image))')">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <h2>((article.meta.title))</h2>
          <p class="text-center">((article.meta.date))</p>
      </div>
    </div>
  </div>
</div>

<div class="article">
  <div class="container">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
          <div ng-bind-html="article.body" ng-model="article.id" ng-init="article.id=__ARTICLE_ID__">
                ((article.body))
          </div>
        </div>
      </div>
  </div>
</div>
