.heading {
  @include carmel-base($carmel-color-background, $height);
  @include background-size(cover);
  background-repeat:   no-repeat;
  background-position: center;
  position:            relative;

  .title {
     margin-top:          5.0rem;
  }
}

.back-btn {
  @include border-radius(3px);
}
.article {
  h1, h2, h3, h4, p, code, pre {
      text-align: justify;
  }
  img {
    max-width: 100%;
  }
  @include carmel-base();
}
