.hero-small-image{
	@include carmel-base($carmel-color-background, $height);
	@include background-size(cover);
	background-repeat: no-repeat;
	background-position: center;
	position:relative;
}

.heading {
  margin-top:    5.0rem;
  margin-bottom: 2.0rem;
}
