.small {
  background-image: url("/img/cover-sm.png");
  background-color: #2ecc71;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:400px;
}

.small  .welcome {
  margin-top: 6.0rem;
  text-align: center;
  padding: 2.0rem 0;
  -webkit-font-smoothing: antialiased;
  color: $welcome-color;
}

.small  h1 {
  text-shadow: 0px 1px #4a4a4a;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 900;
  font-size: 2.2rem;
  line-height: 2.8rem;
}

.small  h2 {
  text-shadow: 0px 1px #4a4a4a;
  font-family: 'Railway', sans-serif;
  font-weight: 400;
  font-size: 2.0rem;
  line-height: 2.2rem;
  margin-top: 1.0rem;
}

@media (min-width: 480px) {

  .small  {
    background-image: url("/img/cover-sm.png");
  }

  .small  .welcome {
    margin-top: 3.0rem;
  }

  .small  h1 {
    font-size: 1.8rem;
    line-height: 2.0rem;
  }

  .small  h2 {
    font-size: 1.6rem;
    line-height: 1.8rem;
    margin-top: 0.5rem;
  }
}

@media (min-width: 768px) {

  .small  {
    background-image: url("/img/cover-md.png");
  }

  .small  .welcome {
    margin-top: 8.0rem;
  }

  .small  h1 {
    font-size: 3.6rem;
    line-height: 3.8rem;
  }

  .small  h2 {
    font-size: 3.0rem;
    line-height: 3.4rem;
    margin-top: 3.0rem;
  }
}

@media (min-width: 992px) {

  .small  {
  }

  .small  .welcome {
    margin-top: 2.0rem;
  }

  .small  h1 {
    font-size: 3.0rem;
    line-height: 3.6rem;
  }

  .small  h2 {
    font-size: 2.0rem;
    line-height: 3.0rem;
    margin-top: 2.0rem;
  }
}

@media (min-width: 1200px) {
  .small  {
    background-image: url("/img/cover-lg.png");
  }

  .small  .welcome {
    margin-top: 4.0rem;
  }

  .small  h1 {
    font-size: 2.2rem;
    line-height: 3.0rem;
  }

  .small  h2 {
    font-size: 1.6rem;
    line-height: 2.0rem;
    margin-top: 0.8rem;
  }
}
