  <div class="container">
    <div class="row pre-footer">

      <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
        <div class="fb-page" data-href="https://www.facebook.com/castitate" data-width="600" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/castitate"><a href="https://www.facebook.com/castitate">Castitate</a></blockquote></div></div>
      </div>

      <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
        <h2>$carmel.text(title)</h2>
        <p>$carmel.text(body)</p>
        <a href="$carmel.link(join)" target="_blank" id="footer_btn" class="btn-action primary">$carmel.text(actionTitle)</a>
    </div>
    </div>
  </div>

  <div class="bottom-bar">
    <div class="container">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
          <p>
            <a href="http://carmel.io" class="carmel-link">despre noi</a> &nbsp;&nbsp;
            <a href="http://carmel.io" class="carmel-link">contact</a> &nbsp;&nbsp;
            <a href="http://carmel.io" class="carmel-link">misiune</a>
          </p>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
          <p>
            $carmel.text(copyright). Created with <a href="http://carmel.io" class="carmel-link">carmel</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
