<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-lg-6 col-lg-offset-0">
        <h1>{{text 'footer-title'}}</h1>
        <p>{{text 'footer-body'}}</p>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-lg-6 col-lg-offset-0">
          <iframe class="likebox-sm" src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2F{{settings 'facebook-page-name'}}&amp;width=300&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=true&amp;appId=576951839083641" scrolling="no" frameborder="0" style="border:none; overflow:hidden; background-color: #ffffff; width:100%; height:258px;" allowTransparency="false"></iframe>
          <iframe class="likebox-md" src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2F{{settings 'facebook-page-name'}}&amp;width&amp;height=500&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=true&amp;appId=576951839083641" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:360px; background-color: #ffffff; width:100%;" allowTransparency="true"></iframe>
        </div>
      </div>

    </div>
