<div class="tags">
  <div class="container">
    <div class="col-lg-10 col-lg-offset-1">
      <ul ng-repeat="tag in tags">
        <li><a href="((tag.link))" class="carmel-link">((tag.title))</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="articles">
    <div class="container">

        <div class="col-lg-2 col-lg-offset-6" ng-hide="showArticles">
          <img src="../img/spinner.gif" style="width: 40px; height: 40px; display: block;"/>
        </div>

        <div class="col-lg-10 col-lg-offset-1" ng-show="showArticles">

            <div class="archive-post" ng-repeat="article in articles">
                <a href="((article.slug))">
                    <div class="post-img">
                        <img src="((article.image))"/>
                        <h2> ((article.title)) </h2>
                    </div>
                </a>
                <time> ((article.date)) </time>
                <p>
                    ((article.summary))
                </p>
            </div>

            <div class="archive-btn">
                <div class="col-xs-4 col-sm-4 col-lg-4  archive-preview">
                    <a href="" class="btn btn-default preview-btn" ng-disabled="!hasOlder()" ng-click="fetchOlder()"><i class="fa fa-angle-left"></i> Older </a>
                </div>
              <div class="col-xs-4 col-sm-4 col-lg-4 length">
               <span>Page ((page)) of ((totalPages)) </span>
              </div>

                <div class="col-xs-4 col-sm-4 col-lg-4  archive-next">
                    <a href="" class="btn btn-default next-btn" ng-disabled="!hasNewer()" ng-click="fetchNewer()"> Newer <i class="fa fa-angle-right"></i></a>
                </div>
            </div>

        </div>
    </div>
</div>
