    <div class="container">
        <div class="col-lg-10 col-lg-offset-1">

            {{#each articles}}

            <div class="archive-post">
                <a href="{{link}}">
                    <div class="post-img">
                        <img src="{{image}}" alt="Post Image"/>
                        <h2> {{title}} </h2>
                    </div>
                </a>
                <time> {{date}} </time>
                <p>
                    {{body}}
                </p>
            </div>

            {{/each}}

            <div class="archive-btn">
                <div class="col-lg-6  archive-preview">
                    <a href="" class="btn btn-default preview-btn"><i class="fa fa-angle-left"></i> Older </a>
                </div>
                <div class="col-lg-6  archive-next">
                    <a href="" class="btn btn-default next-btn"> Newer <i class="fa fa-angle-right"></i></a>
                </div>
            </div>

        </div>
    </div>
