.articles {
  @include carmel-base();

  p, code, pre {
      text-align: justify;
  }

  h1, h2, h3, h4 {
      text-align: left;
  }

  a {
    pointer: cursor;
    text-decoration: none;
  }

  img {
    max-width: 100%;
  }

  .length {
    margin-top: 20px;
    padding:45px 0;
    position: relative;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .btn-default {
    @include border-radius(3px);
  }

  .btn-default:focus, .btn-default:active {
    background: none;
  }
}
