<div id="details" class="videointro">
  <div class="container">

    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
      </div>
    </div>

    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-lg-6 col-lg-offset-0">
        <h1>$carmel.text(title)</h1>
        <p>
           $carmel.text(details)
         </p>
         <div class="story-btn">
           <a href="$carmel.link(button)" class="btn-action primary">$carmel.text(button)</a>
         </div>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-lg-6 col-lg-offset-0">
        <iframe class="video" src="https://www.youtube.com/embed/$carmel.youtubeId" frameborder="0" allowfullscreen>
        </iframe>
      </div>
    </div>

  </div>
</div>
