@include carmel-base($carmel-color-blue-0);
  iframe {
    padding: 0;
    width: 100%;
    height: 20rem;
    border:5px solid  $border;
    margin-top: 20px;
}

.video-link {
  color: $carmel-color-gray-0;
}
