.videointro {
  padding: 6.0rem 0;
  background-color: $videointro-bg;
}

.videointro h1 {
  text-align: center;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  color: $text-color;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
  hyphens: auto;
}

.videointro h2 {
  margin-top: 1.0rem;
  text-align: center;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  color: $text-color;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.videointro p {
  text-align: justify;
  padding: 0;
  margin: 2.0rem 0;
  -webkit-font-smoothing: antialiased;
  color: $text-color;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2rem;
  line-height:1.4rem;
  font-weight:300;
}

.videointro iframe {
  padding: 0;
  width: 100%;
  height: 20rem;
  border:5px solid $video-border;
}

@media (min-width: 768px) {
  .videointro {}

    .videointro h1 {
      font-size: 1.8rem;
      line-height: 2.2rem;
    }

    .videointro h2 {
      margin-top: 1.4rem;
      font-size: 1.2rem;
      line-height: 1.6rem;
    }

    .videointro p {
      font-size: 1.2rem;
      line-height: 1.5rem;
    }

    .videointro iframe {
      margin-top:2.0rem;
      padding: 0;
      height: 15rem;
      border:5px solid $video-border;
      height:25rem;
    }
  }

@media (min-width: 992px) {
  .videointro {}

  .videointro h1 {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

  .videointro h2 {
    margin-top: 1.4rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  .videointro p {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  .videointro iframe {
    margin-top:2.0rem;
    padding: 0;
    border:5px solid $video-border;
    height:20rem;
  }
}

  @media (min-width: 1200px) {
    .videointro h1 {
      font-size: 1.8rem;
      line-height: 2.2rem;
    }

    .videointro h2 {
      margin-top: 1.4rem;
      font-size: 1.4rem;
      line-height: 1.6rem;
    }

    .videointro p {
      padding-right: 1.0rem;
      font-size: 0.9rem;
      line-height: 1.6rem;
    }

    .videointro iframe {
      margin-top:0;
      padding: 0;
      border:5px solid $video-border;
      height:17rem;
    }
  }
