
@include carmel-setup(4,0,4,0);
  background-color:  $bg;

  h1 {
  margin: 0;
  text-align: center;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  color:  $text-color;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  hyphens: auto;
}

  h2 {
  margin-top: 1.0rem;
  text-align: center;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  color:  $text-color;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

  p {
  text-align: justify;
  padding: 1.0rem 0;
  -webkit-font-smoothing: antialiased;
  color:  $text-color;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2rem;
  font-weight:300;
}

.story-btn {
  @include carmel-button($button-background,#D9B00E,#eee,0);
}

.video-link {
  text-align: center;
  margin-top: 20px;
  a {
    text-decoration: none;
    color: $text-color;
    border-bottom: 1px solid  $text-color;
    font-size: 0.7rem;
  }
}

  iframe {
  padding: 0;
  width: 100%;
  height: 20rem;
  border:5px solid  $border;
}

@media (min-width: 768px) {


      h1 {
      font-size: 1.8rem;
      line-height: 2.2rem;
    }

      h2 {
      margin-top: 1.4rem;
      font-size: 1.2rem;
      line-height: 1.6rem;
    }

      p {
      font-size: 1.2rem;
      line-height: 1.5rem;
    }

      iframe {
      margin-top:2.0rem;
      padding: 0;
      height: 15rem;
      border:5px solid  $border;
      height:25rem;
    }
  }

@media (min-width: 992px) {

    h1 {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

    h2 {
    margin-top: 1.4rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

    p {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

    iframe {
    margin-top:2.0rem;
    padding: 0;
    border:5px solid  $border;
    height:20rem;
  }
}

  @media (min-width: 1200px) {
      h1 {
      font-size: 1.8rem;
      line-height: 2.2rem;
    }

      h2 {
      margin-top: 1.4rem;
      font-size: 1.4rem;
      line-height: 1.6rem;
    }

      p {
      padding-right: 1.0rem;
      font-size: 0.9rem;
      line-height: 1.6rem;
    }

      iframe {
      margin-top:0;
      padding: 0;
      border:5px solid  $border;
      height:17rem;
    }
  }
