
.navbar {
  background: $carmel-color-menu;
  border: 1px solid $carmel-color-menu;
  -webkit-font-smoothing: antialiased;
}

.navbar .navbar-header button .icon-bar {
  background: $carmel-color-white;
}

.navbar-collapse {
  border-top: 1px solid $carmel-color-menu !important;
}

.navbar .navbar-header button {
  background: $item-background-color;
  height: 44px;
  padding: 10px;
  margin: 10px;
  border: 1px solid $carmel-color-white;
}

.navbar .navbar-default .navbar-nav > li > a, .navbar .navbar-default .navbar-brand {
  color: $carmel-color-white;
}

.navbar .navbar-default .navbar-nav > li > a:hover,
.navbar .navbar-default .navbar-nav > li > a:focus {
  color: $carmel-color-white;

}
@media only screen and (max-width: 766px) {

  .navbar .collapsing, .navbar .in {
    background-color: $carmel-color-background !important;
  }

  .navbar .collapsing ul li a, .navbar .in ul li a {
    color: #eee !important;
  }

  .navbar .collapsing ul li a:hover, .navbar .in ul li a:hover {
    color: #f1f1f1 !important;
  }
}

.navbar .navbar-brand {
  padding: 5px;
  margin: 0;
  height: 64px;
}

.navbar .navbar-brand img {
  height: 60px;
}

.navbar .navbar-nav {
  padding: 10px;
  text-transform: uppercase;
}

.navbar .navbar-nav li a {
  color: #eee;
  font-family: $carmel-font-sans, sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-left: 4px;
}

.navbar .navbar-nav li a:hover {
 color: $carmel-color-white;
   background: darken($carmel-color-menu, 15%);
   @include transition-duration(0.35s);
   @include transition-property(color);
   @include transition-property(background);
   @include border-radius(4px);
}

.navbar .navbar-nav li.current a {
  color: $carmel-color-white;
  border-bottom:1px solid $carmel-color-white;
  @include border-radius(0);
}

.navbar .navbar-nav li.action a {
  color: white;
  border: 1px solid $carmel-color-white;
  @include border-radius(0);
  &:hover {
    background-color:$carmel-color-button;
  }
}
