$navbar-height:64px;
$navbar-background-color: #29b765;
$navbar-item-background-color: #00a86b;
$navbar-primary-background-color: #f39c12;
$navbar-font-family:"Railway", sans-serif;
$navbar-font-size:16px;
$navbar-font-weight: 600;
$navbar-top: 2rem;
$navbar-button-background:#ffffff;
$navbar-default-color:#fff;
