$navbar-height:64px;
$navbar-background-color: #2ecc71;
$navbar-item-background-color: #00a86b;
$navbar-primary-background-color: #f39c12;
$navbar-font-family:"Railway", sans-serif;
$navbar-font-size:16px;
$navbar-font-weight: 600;
$navbar-top: 2rem;
$navbar-button-background:#ffffff;
$topbar-height: 2rem;
$topbar-background-color:#fff;
$topbar-item-text-color:#000;
$topbar-item-background-color:#fff;
$topbar-font-family:'Josefin Sans', sans-serif;
$topbar-font-size:0.7rem;
$topbar-font-weight:300;
