<!DOCTYPE html>
<html ng-app="app">

  <head>

    <title> </title>

    {{! Page Meta }}
    {{> carmel/pagemeta/default}}

    {{! Favicon }}
    <link rel="shortcut icon" href="/favicon.ico">

    {{! Styles }}
    <link href='http://fonts.googleapis.com/css?family=Lato|Josefin+Sans|Open+Sans|Raleway|Merriweather+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Coda:400,800|Titillium+Web:400,900|Exo+2:400,900' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    {{! Page Style }}
    <link rel="stylesheet" type="text/css" href="style.css" />

  </head>

  <body ng-controller="MainController">

    __PAGE_CONTENT__
    
    {{! Page Scripts }}
    <script type="text/javascript" src="scripts.js"></script>

    {{! Google Analytics }}
    {{> carmel/google/analytics}}

  </body>

</html>
