<!DOCTYPE html>
<html ng-app="carmel">

  <head>

    <title> </title>

    {{! Page Meta }}
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content=""/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="320"/>
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {{! Favicon }}
    <link rel="shortcut icon" href="/img/favicon.png">

    {{! Page Style }}
    <link rel="stylesheet" type="text/css" href="style.css" />

  </head>

  <body ng-controller="MainController as carmel">

    <div id="fb-root"></div>

    __PAGE_CONTENT__

    {{! Page Scripts }}
    <script type="text/javascript" src="/js/scripts.js"></script>
    <script type="text/javascript" src="scripts.js"></script>
  </body>

</html>
