@import 'bootstrap';
html {
  font-size: 13px;
}

@media screen and (min-width: 500px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 570px) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 620px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 680px) {
  html {
    font-size: 17px;
  }
}

@media screen and (min-width: 720px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 800px) {
  html {
    font-size: 19px;
  }
}

@media screen and (min-width: 860px) {
  html {
    font-size: 20px;
  }
}

@media screen and (min-width: 920px) {
  html {
    font-size: 21px;
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

$carmel-global-tablet-width: 768px;
$carmel-global-desktop-width: 1024px;

@mixin carmel-device-tablet {
  @media (min-width: #{$carmel-global-tablet-width}) and (max-width: #{$carmel-global-desktop-width - 1px}){
    @content;
  }
}

@mixin carmel-device-desktop {
  @media (min-width: #{$carmel-global-desktop-width}){
    @content;
  }
}

@mixin carmel-text-size ($font-size, $line-height){
  font-size: #{$font-size}rem;
  line-height: #{$line-height}rem;
}

@mixin carmel-heading ($font-name: 'Josefin Sans', $color: #FFFFFF) {
  h1 {
    text-shadow: 0px 1px black;
    font-family: $font-name,sans-serif;
    font-weight: 900;
    @include carmel-text-size (2.5, 2.8);
    color: $color;

    @include carmel-device-tablet {
      @include carmel-text-size (2.5, 3.2);
    }

    @include carmel-device-desktop {
      @include carmel-text-size (2.2, 3.0);
    }
  }

   h2 {
    text-shadow: 0px 1px darkgrey;
    font-family: $font-name;
    font-weight: 400;
    @include carmel-text-size (1.5, 2.0);
    margin-top: 1.0rem;

    @include carmel-device-tablet {
      @include carmel-text-size (1.8, 2.2);
    }

    @include carmel-device-desktop {
      @include carmel-text-size (1.2, 2.0);
    }
  }

}
$carmel-global-button-bg-color: #2ecc71;
$carmel-global-button-text-color: #fff;

@mixin carmel-button ($background:$carmel-global-button-bg-color,
$color: $carmel-global-button-text-color, $border:#fff, $width:100%,$top:0.5rem,$bottom:0.5rem,$font-name: 'Josefin Sans') {
    .btn {
      background-color: $background;
      color: $color;
      font-family: $font-name;
      border: 1px solid $border;
      width: $width;
      padding-top: $top;
      padding-bottom: $bottom;
      @include carmel-text-size(2.0, 3.0);
      text-shadow: 0px 1px black;

      @include carmel-device-tablet {
        @include carmel-text-size (1.8, 2.2);
      }

      @include carmel-device-desktop {
        @include carmel-text-size (1.2, 2.0);
      }
    }
}

@mixin h1 ($color:#000,$weight:900,$font-name: 'Josefin Sans') {
  color:$color;
  font-weight: $weight;
  font-family: $font-name;
  @include carmel-text-size (1.5, 2.0);
}

@mixin input ($color:#000,$border:#ccc,$radius:4px,$width:250px,$height:48px,$size:0.8rem) {
      color:$color;
      border:none;
      border:1px solid $border;
      -webkit-border-radius: $radius;
      -moz-border-radius: $radius;
      border-radius: $radius;
      padding:0.3rem;
      height: $height;
      width: $width;
      font-size:$size;
      font-weight: 300;
}
