<div class="features">
    <div class="container">

        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <h1> Campania este bazată pe trei piloni:</h1>
            </div>
        </div>

        <div class="row details">
            <div class="col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-0">
                <img src="/img/three-column-01.png"/>
                <h2>POST ŞI RUGĂCIUNE</h2>
                <p>Invităm credincioșii din orașul nostru și din întreaga țară să se unească timp de 40 de zile în rugăciune ferventă și post pentru încetarea avorturilor.</p>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-0">
                <img src="/img/three-column-02.png"/>
                <h2>MOBILIZAREA COMUNITĂŢII</h2>
                <p>Purtarea unui mesaj pozitiv și optimist pentru viață în fiecare colț al orașului prin mijloacele media, biserici și școli, petiții și afișaj public.</p>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-0">
                <img src="/img/three-column-03.png"/>
                <h2>VEGHE PAŞNICĂ</h2>
                <p>Susținerea mișcării pentru viață timp de 40 de zile printr-o mărturie publică și pacifistă, stând în fața Clinicii de Obstretica-Ginecologie „Dominic Stanca”.</p>
            </div>
        </div>

    </div>
</div>